<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">WBS System</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="/projects" class="nav-link" th:classappend="${#strings.startsWith(currentUri, '/projects')} ? 'active'">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>プロジェクト</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/staff" class="nav-link" th:classappend="${#strings.startsWith(currentUri, '/staff')} ? 'active'">
                        <i class="nav-icon fas fa-users"></i>
                        <p>担当者</p>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/category-types')} ? 'menu-open'">
                    <a href="#" class="nav-link" th:classappend="${#strings.startsWith(currentUri, '/category-types')} ? 'active'">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            マスター管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/category-types" class="nav-link" th:classappend="${#strings.startsWith(currentUri, '/category-types')} ? 'active'">
                                <i class="far fa-circle nav-icon"></i>
                                <p>区分種別マスター</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</html> 